.form-login{
    max-width: 400px;
    padding-top: 9%;
}

.btn-cadastro {
    background-color: #614ea6;
    color: #ffffff;
}

.btn-cadastro:hover {
    background-color: #f21667;
    color: #ffffff;
}