.navbar{
    background-color: #614EA6;
}

.links{
    color: #ffffff;
}

.links:hover{
    color: #F21667;
}

.link-home{
    color: #ffffff;

}

.link-home:hover{
    color: #ffffff;
    text-decoration: none;

}